<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" class="js">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>{% if page.title %} {{ page.title }} | {% endif %} Assaye Packaging</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<!--[if lte IE 8]>
    {% css_asset_tag global %} - /_assets/css/baseline/classic-ie.scss{% endcss_asset_tag %}
<![endif]-->
<!--[if gt IE 8]><!-->
    <script type="text/javascript">

        if('querySelector' in document && 'localStorage' in window && 'addEventListener' in window) {
            document.write("{% css_asset_tag global %} - /_assets/css/baseline/modern.scss{% endcss_asset_tag %}");
        }
        else {
            document.write("{% css_asset_tag global %} - /_assets/css/baseline/classic.scss{% endcss_asset_tag %}")
        }

    </script>
    <noscript>
        {% css_asset_tag global %} - /_assets/css/baseline/classic.scss{% endcss_asset_tag %}
    </noscript>
    <script type="text/javascript">
        if (window.location.host.indexOf('assayepackaging.co.uk') > -1) {
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-39759000-1', 'assayepackaging.co.uk');
            ga('send', 'pageview');
        }
    </script>
<!--<![endif]-->

</head>

<body id="{{ page.id }}" class="{{ page.type }}">

<header><div class="row" id="head"><div class="columnFull">

        <div id="logo">
            <div id="blue"></div>
            <div id="yellow"></div>
            <div id="red"></div>
        </div>

        <h1 class="pageTitle">Assaye Packaging Ltd<div class="celebration"></div></h1>

</div></div></header>

{{ content }}

<section><div class="row sectionNav"><div class="columnFull">

        <div class="menuHolder">
            <a href="#nav" class="menu button">Menu<span></span></a>
        </div>
        
        <nav role="navigation"><div class="nav">

            <a href="index.html" class="navItem index">Home</a>
            <div class="navSub" tabIndex="0">
                <span class="navItemLabel products">Products</span>
                <div class="navSubList">
                    <a href="laminated-bags.html" class="navItem lamBag">Laminated Bags</a>
                    <a href="laminated-pouches.html" class="navItem lamPouche">Laminated Pouches</a>
                    <a href="printed-film.html" class="navItem printedFilm">Printed Film</a>
                    <a href="roll-fed-labels.html" class="navItem rollFedLabels">Roll Feed Labels</a>
                    <a href="stretch-sleeves.html" class="navItem stretchSleeves">Stretch Sleeves</a>
                    <a href="shrink-sleeves.html" class="navItem shrinkSleeves">Shrink Sleeves</a>
                </div>
            </div>
            <a href="about.html" class="navItem aboutLink">About APL</a>
            <a href="#contact" class="navItem">Contact</a>

        </div></nav>

</div></div></section>

<section><div id="contact"><div class="row">

        <h2 class="h2">Contact APL</h2>

        <div class="column">

            <p>Tel: 0116 2813516<br />
            Mob: 07710 890185<br />
            Fax: 01162 810952</p>

            <p><a href="mailto:sales@assayepackaging.co.uk">Email: sales@assayepackaging.co.uk</a></p>

        </div>

        <div class="column">

            <p>Assaye Packaging Ltd<br />
            Assaye House<br />
            12 Aylestone Lane<br />
            Wigston<br />
            Leicester LE18 1AA</p>

        </div>

</div></div></section>

<footer><div id="footer"><div class="row">

        <div class="column">

            <p>Registered Office: Hales and Partners <br />
            39 Castle Street, Leicester LE1 5WN<br />
            Tel: 0116 2338500<br />
            Fax: 0116 2337288</p>

        </div>

        <div class="column">

            <p>Reg No. 4863870<br />
            VAT No. 855 3975 80</p>

            <p>&copy; 2013 Assaye Packaging Ltd</p>

        </div>

</div></div></footer>

{% javascript_asset_tag global %}
- /_assets/js/vendor/ender/ender.min.js
- /_assets/js/module/nav.js
- /_assets/js/module/responsive_images.js
{% endjavascript_asset_tag %}

</body>
</html>